<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="footer-container">
        <div class="left-footer">
            <div class="logo-container">
                <img src="../img/logo-foo.png" alt="" class="logo-footer">

            </div>
            <p class="oo">ООО «Консалтинговая компания «Аудитэнерго»</p>
            <div class="phone-footer">
                <p> <strong>Velcom: &nbsp;&nbsp;&nbsp;</strong> <a href="tel:+">+375 29 654 05 91</a></p>
            </div>

            <p class="last"> <strong>МТС: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong> <a href="tel:+">+375 29 530 48 97</a></p>
            <p class="last"> <strong>Email: &nbsp;&nbsp;&nbsp;</strong> <a href="tel:+">info@auditenergo.by</a></p>
            <p>246029, Гомель, ул. Братьев Лизюковых, 14а, 2-18</p>
        </div>
        <div class="right-footer">
            <h3>Наши услуги</h3>
            <div class="right-footer-container">
                <div class="service-card">

                    <ul>
                        <li>
                            <div class="ball"></div>
                            <a href="/raschet-norm-rashoda-ter.html">Расчет норм расхода ТЭР</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/normi_voda.html">Расчет норм водопотребления водоотведения</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/gidrav-teplo.html">Гидравлический расчет теплосетей</a></li>

                    </ul>
                </div>
                <div class="service-card">

                    <ul>
                        <li>
                            <div class="ball"></div>
                            <a href="/teplovizionnoe-obsledovanie.html">Тепловизионное обследование</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/aerodinamic-vent.html">Aэродинамические испытания вентсистем</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/podgotovka-dokumentov.html">Подготовка комплекта документов и согласование норм расхода ТЭР</a></li>

                    </ul>
                </div>
                <div class="service-card">

                    <ul>
                        <li>
                            <div class="ball"></div>
                            <a href="/raschet-teplovyh-nagruzok.html">Расчет тепловых нагрузок</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/chemclean.html">Химическая очистка котлов и теплообменников</a></li>
                        <li>
                            <div class="ball"></div>
                            <a href="/gidropnevm-otoplen.html">Гидропневматическая промывка отопления</a></li>

                    </ul>
                </div>
            </div>
            <div class="right-footer-container">
                <div class="service-card">
                    <h3>Нормирование ТЭР</h3>
                    <ul>
                        <li>
                            <div class="ball"></div><a href="/normirovanie-ter.html#law">Законодательство</a></li>

                        <li>
                            <div class="ball"></div><a href="/normirovanie-ter.html#blanks">Бланки, формы</a></li>

                        <li>
                            <div class="ball"></div><a href="/normirovanie-ter.html#blanks">Примеры документов</a></li>

                    </ul>
                </div>
                <div class="service-card">
                    <h3>Энергосбережение</h3>
                    <ul>
                        <li>
                            <div class="ball"></div><a href="/zakonodatelstvo.html">Законодательство</a></li>
                        <li>
                            <div class="ball"></div><a href="/energoaudit.html">Энергоаудит</a></li>
                        <li>
                            <div class="ball"></div><a href="/meropriyatiya-po-energosberezheniyu.html">Мероприятия по энергосбережению</a></li>
                        <li>
                            <div class="ball"></div><a href="/programma-po-energosberezheniyu.html">Программа по энергосбережению</a></li>
                    </ul>
                </div>
                <div class="service-card">
                    <h3>Энергетическая отчетность</h3>
                    <ul>
                        <li>
                            <div class="ball"></div><a href="/12-tek.html">12-ТЭК</a></li>
                        <li>
                            <div class="ball"></div><a href="/otchet-ter.html">Отчет о результатах использования ТЭР</a></li>
                        <li>
                            <div class="ball"></div><a href="/energosberezhenie.html">4-Энергосбережение</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>