<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="header-container">

        <div class="nav-container">
            <div class="logo-container">
                <a href="index.html"><img src="../img/logo.png" alt="" class="logo-nav"></a>
            </div>
            <ul>
                <li class="haver">
                    <div class="li-menu">
                        <a href="/raschet-norm-rashoda-ter.html">Расчет норм расхода ТЭР</a>
                        <a href="/normi_voda.html">Расчет норм водопотребления водоотведения</a>
                        <a href="/gidrav-teplo.html">Гидравлический расчет теплосетей</a>
                        <a href="/teplovizionnoe-obsledovanie.html">Тепловизионное обследование</a>
                        <a href="/podgotovka-dokumentov.html">Подготовка комплекта документов
                            и согласование норм расхода ТЭР</a>
                        <a href="/aerodinamic-vent.html">Aэродинамические испытания вентсистем</a>
                        <a href="/raschet-teplovyh-nagruzok.html">Расчет тепловых нагрузок</a>
                        <a href="/chemclean.html">Химическая очистка котлов и теплообменников</a>
                        <a href="/gidropnevm-otoplen.html">Гидропневматическая промывка отопления</a></div><a href="/services.html" id="fortrans">Наши услуги<i class="fas fa-caret-up"  id ="trans2"style="color: gray;"></i></a>

                </li>
                <li class="second-haver">
                    <div class="li-menu-second">
                        <a href="/normirovanie-ter.html">Нормирование ТЭР</a>
                        <a href="/energosberezhenie.html">Энергосбережение</a>
                        <a href="/energeticheskaya-otchetnost.html">Энергетическая отчетность</a>
                    </div><a href=" " id="fortrans2">Информация<i class="fas fa-caret-up" id = "trans" style="color: gray;"></i></a></li>
                <a href="/about.html">
                    <li>О компании</li>
                </a>
                <a href="/contacts.html">
                    <li>Контакты</li>
                </a>
                <li><i class="fas trans fa-search" style="color: gray;  font-size: 17px; transform: rotate(360deg);"></i></li>
            </ul>
        </div>
        <div class="right-container">
            <div class="phone"><i class="fas fa-mobile-alt" style="color: green;"></i>
                <div class="text-header-container">
                    <p><a href="tel: +375296540591" class="bold">+375 29 654 05 91</a></p>
                    <p class="fax"><a href="tel:80232255860">Факс: 8 0232 25 58 60</a></p>
                </div>
            </div>

        </div>

    </div>

    <h1>Выгодные решения в области энергосбережения и нормирования ТЭР</h1>

    <div class="nav-container-mobile">
        <input type="checkbox" name="navigation-mobile" id="navigation">
        <label for="navigation" class="nav-mobile"><i class="fas fa-bars"></i><p>Главное меню</p> </label>

        <input type="checkbox" id="a2" name="menu">
        <input type="checkbox" id="a1" name="menu" value="hello">
        <div class="modal-nav-container">

            <label for="a1" class="nav-label fortrans chak"><i class="fas fa-chevron-right transoform"></i><p>Наши услуги</p> </label>
            <div class="nav-container-div">
                <a href="/raschet-norm-rashoda-ter.html">Расчет норм расхода ТЭР</a>
                <a href="/normi_voda.html">Расчет норм водопотребления водоотведения</a>
                <a href="/gidrav-teplo.html">Гидравлический расчёт теплосетей</a>
                <a href="/teplovizionnoe-obsledovanie.html">Тепловизионное обследование</a>
                <a href="/podgotovka-dokumentov.html">Подготовка комплекта документов и согласование норм расхода ТЭР</a>
                <a href="/aerodinamic-vent.html">Аэродинамические испытания вентсистем</a>
                <a href="/raschet-teplovyh-nagruzok.html">Расчёт тепловых нагрузок</a>
                <a href="/chemclean.html">Химическая очистка котлов и теплообменников</a>
                <a href="/gidropnevm-otoplen.html">Гидропневатическая промывка отопления</a>
            </div>
            <label for="a2" class="nav-label"><i class="fas fa-chevron-right"></i><p>Информация</p> </label>


            <div class="nav-container-div-second">
                <a href="/normirovanie-ter.html">Нормирование ТЭР</a>
                <a href="/energosberezhenie.html">Энергосбережение</a>
                <a href="/energeticheskaya-otchetnost.html">Энергетическая отчетность</a>
            </div>
            <input type="checkbox" id="a3" name="menu">
            <label for="a3" class="nav-label"> <a href="/about.html"><p>О компании </p></a> </label>
            <input type="checkbox" id="a4" name="menu">
            <label for="a4" class="nav-label">  <a href="/contacts.html"><p>Контакты</p></a></label>
        </div>
    </div>

    <script src="" async defer></script>
</body>

</html>