<div class="int_container">
    
    <div class="int_blok">
        <div class="int_foto"><a href="#">
            <img src="./img/politic.jpg" alt="картинка" height="65px" width="100px"></a>
        </div>
        <div class="int_text">
            Испанский политик полностью отделась для глянца            
        </div>
    </div>

    <div class="int_blok">
        <div class="int_foto"><a href="#">
            <img src="./img/Joly.jpg" alt="картинка" height="65px" width="100px"></a>
        </div>
        <div class="int_text">
            Анджелина Джоли сильно похудела
            <a href="#"><i class="fa fa-camera-retro" aria-hidden="true"></i></a>          
        </div>
    </div>

    <div class="int_blok">
        <div class="int_foto"><a href="#">
            <img src="./img/mechta.jpg" alt="картинка" height="65px" width="100px"></a>
        </div>
        <div class="int_text">
            Исполнить мечту            
        </div>
    </div>

    <div class="int_blok">
        <div class="int_foto"><a href="#">
            <img src="./img/irina.jpg" alt="картинка" height="65px" width="100px"></a>
        </div>
        <div class="int_text">
            Ирина Билык сказала            
        </div>
    </div>

    <div class="int_blok">
        <div class="int_foto"><a href="#">
            <img src="./img/7.jpg" alt="картинка" height="65px" width="100px"></a>
        </div>
        <div class="int_text">
            7 смертных грехов           
        </div>
    </div>

    </div>
</div>