<div>
    <div class="Collected">
        <div style="width: 150px; text-align: center;"><a href="#"><img src="./img/Zlatan.jpg" alt="картинка"></a></div>
        <p>Collected favourite now for for and rapturous repulsive consulted.<i class="fa fa-camera-retro" aria-hidden="true"></i></p>
    </div>

    <div>
        <ul>
            <li><a href="#">Domestic confined any but son bachelor Domestic confined any but son bachelor</a></li>
            <li><a href="#">Ye am depending propriety sweetness distrusts</a></li>
            <li><a href="#">Old education him departure any arranging one prevailed</a></li>
            <li><a href="#">He to observe conduct at detract because.</a></li>
        </ul>
    </div>

</div>