  
<div class="table_music">   
    <table>
        <caption>Список песен</caption>
       <!--   <thead>
           <tr>
              <td>№</td>
              <td>Название</td>
              <td>Текст</td>
              <td>Видео</td>
           </tr>
        </thead> -->
        <tbody>
            <!-- Новая строка -->
            <tr>
              <td>1</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a>                
              </td>
              <td>
                <a href="https://www.youtube.com/embed/UtgCjtWIu-I" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </td>
            </tr>

             <!-- Новая строка -->
             <tr>
                <td>2</td>
                <td>Пестня-Пестня</td>
                <td>
                  <a href="#" target="_blank">
                    <i class="fab fa-itunes-note"></i>
                  </a> 
                </td>
                <td>
                  <a href="https://www.youtube.com/embed/UtgCjtWIu-I">
                    <i class="fab fa-youtube"></i>
                </a>
              </td>
              </tr>

               <!-- Новая строка -->
            <tr>
                <td>3</td>
                <td>Пестня-Пестня</td>
                <td>
                  <a href="#" target="_blank">
                    <i class="fab fa-itunes-note"></i>
                  </a> 
                </td>
                <td>
                  <a href="https://www.youtube.com/embed/UtgCjtWIu-I">
                    <i class="fab fa-youtube"></i>
                  </a>
                </td>
              </tr>

              <!-- Новая строка -->
             <tr>
              <td>2</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/UtgCjtWIu-I">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>



        </tbody>
      </table>
</div> 
