  
<div class="table_music">   
    <table>
        <caption>Список песен</caption>
       <!--   <thead>
           <tr>
              <td>№</td>
              <td>Название</td>
              <td>Текст</td>
              <td>Видео</td>
           </tr>
        </thead> -->
        <tbody>
            <!-- Новая строка -->
            <tr>
              <td>1</td>
              <td>Пестня-Пестня</td>
              <td>Текст</td>
              <td>Видос</td>
            </tr>

             <!-- Новая строка -->
             <tr>
                <td>2</td>
                <td>Пестня-Пестня</td>
                <td>Текст</td>
                <td>Видос</td>
              </tr>

               <!-- Новая строка -->
            <tr>
                <td>3</td>
                <td>Пестня-Пестня</td>
                <td>Текст</td>
                <td>Видос</td>
              </tr>




        </tbody>
      </table>
</div> 
