  
<div class="table_music">   
    <table>
        <caption>Список песен</caption>
       <!--   <thead>
           <tr>
              <td>№</td>
              <td>Название</td>
              <td>Текст</td>
              <td>Видео</td>
           </tr>
        </thead> -->
        <tbody>
            <!-- Новая строка -->
            <tr>
              <td>1</td>
              <td>Обнови, Господь</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a>                
              </td>
              <td>
                <a href="https://www.youtube.com/embed/XrBQzgKyRVA" target="_blank">
                  <i class="fab fa-youtube"></i>
                </a>
              </td>
            </tr>

             <!-- Новая строка -->
             <tr>
                <td>2</td>
                <td>Божа, блiжэй хачу быць да Цябе (Ближе , Господь к Тебе)</td>
                <td>
                  <a href="#" target="_blank">
                    <i class="fab fa-itunes-note"></i>
                  </a> 
                </td>
                <td>
                  <a href="https://www.youtube.com/embed/fg1A6BuAf9Y" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
              </td>
              </tr>

               <!-- Новая строка -->
            <tr>
                <td>3</td>
                <td>На древо вознесенный</td>
                <td>
                  <a href="#" target="_blank">
                    <i class="fab fa-itunes-note"></i>
                  </a> 
                </td>
                <td>
                  <a href="https://www.youtube.com/embed/roALdEn-kG8" target="_blank">
                    <i class="fab fa-youtube"></i>
                  </a>
                </td>
              </tr>

              <!-- Новая строка -->
             <tr>
              <td>4</td>
              <td>В тот день, когда Божий Сын в мир родился</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/Ypcvs8QYuXM" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

            <!-- Новая строка -->
            <tr>
              <td>5</td>
              <td>Это было начало Его земного пути</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/MjzFAZxQN74" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

          <!-- Новая строка -->
            <tr>
              <td>6</td>
              <td>Гряди</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/y6mFb5pxWe0" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

            <!-- Новая строка -->
            <tr>
              <td>7</td>
              <td>Сын Божий нам рожден</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/nhGU0q6YiBE" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>


            <!-- Новая строка -->
            <tr>
              <td>8</td>
              <td>Рожден в тиши ночной</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/W-GwSLY3PiE" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

            <!-- Новая строка -->
            <tr>
              <td>9</td>
              <td>Я знаю, Господь не оставит меня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/54TSrj3uhzI" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

            <!-- Новая строка -->
            <tr>
              <td>10</td>
              <td>Пенье ангелов с высот</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/CQamAS0tcJ0" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>
            <!-- Новая строка -->
            <tr>
              <td>11</td>
              <td>О, благодать!</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="https://www.youtube.com/embed/K7X6dN8N9Wk" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr>

            <!-- Новая строка -->
            <!-- <tr>
              <td>12</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr> -->

            <!-- Новая строка -->
            <!-- <tr>
              <td>13</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr> -->

            <!-- Новая строка -->
            <!-- <tr>
              <td>14</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr> -->

            <!-- Новая строка -->
            <!-- <tr>
              <td>15</td>
              <td>Пестня-Пестня</td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-itunes-note"></i>
                </a> 
              </td>
              <td>
                <a href="#" target="_blank">
                  <i class="fab fa-youtube"></i>
              </a>
            </td>
            </tr> -->


        </tbody>
      </table>
</div> 
