.int_container {
    display: block;
    border-bottom: 3px solid gray;
}
.int_blok {
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;
}

.int_foto {
   border: 1px solid gray;
   height: 65px;
   width: 100px;
   }
.int_text {
    margin-left: 10px;
}
