/*  html * {
  outline: 1px solid red;
 } */
 @import './partials/video.scss';

html, body {
  margin: 0;
  padding: 0;
  }
  
@font-face {
  font-family: "Brush Script MT, Brush Script Std, cursive"; /* Имя шрифта */
  src: url('/fonts/13578.otf'); /* Путь к файлу со шрифтом */
 }

h1, p, h2, h3 {
  /* font-family: 'CyrillicOld', arial; */
  font-family: 'Mon Amour Two Medium', arial;
  margin: 0;
  }
.content_index > h1 {
  text-align: center;
}

 header{
  height: 100px;
  background: linear-gradient(to bottom, #0000ff 0%, #02000f 100%);
  text-align: center;
  color: white;
  margin: 0;
 }

.content {
 /*  position: absolute; */
  min-height: 100vh;
  min-width: 100%;
  background-image: url('/img/fon.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
 }

footer {
  height: 100px;
  background: linear-gradient(to bottom, #000011 0%, #0000ff 100%);
  text-align: center;
  color: white;
  bottom: 0;
  padding-top: 45px;
}

.header_div{
  max-width: 1200px;
  margin: auto;
}

.menu_logo{
margin: auto;
display: flex;
justify-content: space-between;
}

.logo{
  font-family:  "Brush Script MT, Brush Script Std, cursive";
  font-size: 70px;
}
.menu {
  display: flex;
  justify-content: space-between;
  margin: auto 0 auto 10px;
  width: 500px;
}

.menu_button {
  height: 30px;
  width: 100px;
  border: 3px solid white;
  border-radius: 0 10px;
  margin: 5px;
  transition-duration: .3s;
 
}

.menu > a{
  text-decoration: none;
}

.menu_button > p {
   margin: 5px;
   color: white;
}

.menu_button:hover {
  background-color: rgb(59, 62, 224);
  font-weight: bold;
  font-size: 18px;
 }
 .menu_button:active {
  background-color: rgb(173, 174, 201);
 }


.content_index  {
  left: 50%;
  margin: auto;
  max-width: 1200px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  text-indent: 20px; /* красная строка */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.content > h1 {
  margin: 20px 0;
  color: white;
  text-align: center;  
}
.img_index_1 {
  max-height: 250px;
  float: left;
  margin: 10px;
}
.img_index_2 {
  max-height: 250px;
  float: right;
  margin: 10px;
}
.content_index > p {
  text-align: justify;
}

 h3 {
  font-family: 'Mon Amour Two Medium', arial;
  margin: 0;
  text-align: center;
  }
  
  .content_kontakt {
    height: 300px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
  iframe {
     margin: 20px 2px 2px 200px;  
     text-align: center;
  }
  .img_index_kontakt {
    margin: 40px;
    width: 400px;
  }