html * {
  outline: 0px solid red;
}

.admin {
  min-height: 70px;
  width: auto;
  background-color: #e9ebf0;
  text-align: center;
  }

.objects {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
 }
.gradient {
  height: 4px;
  width: auto;
  margin-bottom: 0;
  background: linear-gradient(to right, #ff3d01 0%,#ffb200 17%,#9ace03 34%,#8dc41a 50%,#9ace03 66%,#ffb200 83%,#ff3d01 100%);
}

